@import "tailwindcss";

:root {
  --font-orbitron: 'Orbitron', sans-serif;
  --font-space-grotesk: 'Space Grotesk', sans-serif;
}

.font-heading {
  font-family: var(--font-orbitron);
}

.font-body {
  font-family: var(--font-space-grotesk);
}
